aside {
  height: calc(100vh - 50px);
  float: right;
  width: 340px;
  position: relative;
}

#tracks {
  height: 100%;
  max-height: 100%;
  padding-bottom: 90px;

  ul {
    padding: 0 11px 0 40px;
    position: relative;
    height: 100%;
    overflow: hidden;

    &:empty:before {
      content: "Loading songs...";
      text-transform: uppercase;
      opacity: .3;
      position: absolute;
      display: block;
      width: 100%;
      text-indent: 40px;
      top: 50%;
      left: 0;
    }
  }

  li {
    list-style: none;
    line-height: 1.2em;
    padding: 30px 0;
    border-bottom: 1px dotted lighten($body, 60%);
    position: relative;

    &:last-of-type { border: none; }

    &:hover, &.playing {
      cursor: pointer;
      strong { color: $accent; }
    }

    &.playing:before {
      content: "";
      width: 240px;
      height: 34px;
      position: absolute;
      bottom: 0;
      right: 4px;
      background: url(../images/waves.gif) no-repeat bottom right;
      opacity: .3;
    }
    &.playing.paused:before { display: none; }

    strong {
      display: block;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.93em;
    }
    small {
      color: $body-light;
      font-size: 0.93em;
    }
  }
}

#sc-profile {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: $cta;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  height: 82px;
  line-height: 82px;
  text-decoration: none;
  width: 380px;
}