header {
  position: fixed;
  z-index: 10;
  height: 50px;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  @include display-flex;
  @include flex-props(row nowrap, space-between, center, center);

  h1 {
    font-size: .93em;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    padding: 0 10px;
    display: none;
  }

  nav {
    height: 50px;
    background: $body;
    font-family: "FontAwesome";

    ul {
      &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        width: 0;
      }
      li {
        list-style: none;
        float: left;
      }
      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 65px;
        text-align: center;

        &:hover { background: rgba(0,0,0,.1); }
      }
    }
  }
}

#player {
  flex: 1 auto;
  height: 50px;
  position: relative;
  padding: 12px 0 0 11px;

  .time {
    float: left;
    color: $body-lighter;
  }

  .fa-soundcloud {
    float: right;
    color: $body-lighter;
    text-decoration: none;
    &:hover {
      color: $body;
    }
  }
}

#progress {
  display: block;
  height: 2px;
  background: lighten($body, 60%);
  position: absolute;
  left: 11px;
  right: 0px;
  bottom: 8px;
  .progress-bar {
    width: 0px;
    height: 2px;
    display: block;
    background: $accent;
  }
}

#controls {
  padding: 0 10px 0 0;
  position: relative;
  width: 340px;
  padding: 0 8px;
  text-align: center;
  height: 50px;

  li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    margin: 0 1px;
    padding: 0;
    position: relative;
    z-index: 2;
    -webkit-transition: border .15s ease-in-out;

    &#mute {
      position: absolute;
      top: 0;
      right: 11px;
    }
    &:hover { border-bottom: 2px solid $body; }

    a {
      display: block;
      width: 28px;
      padding: 4px 0 0 0;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      color: $body;

      &.icon-play.playing:before { content: "\e601"; }
      &.muted { opacity: .2; }
    }
  }
  
  &:after {
    content: "";
    display: block;
    height: 2px;
    background: lighten($body, 60%);
    position: absolute;
    bottom: 8px;
    left: 11px;
    right: 11px;
  }
}